---
---

@import "{{ site.theme }}";

div#banner {
  visibility: hidden;
}

td {
  border-bottom:0px solid #e5e5e5;
  border-right: 0px solid #ffcc00;

  &:first-child {
    border-left: 0px solid #ffcc00;
  }
}
