---
---

@import "{{ site.theme }}";

div#banner {
  visibility: hidden;
}

#wrapper section table {
  border-collapse: collapse;
  tbody {
    border-collapse: collapse;
    tr {
      border-collapse: collapse;
      td {
        border-width: 0;
        border-collapse: collapse;
      }
    }
  }
}
